.banner {
  padding: 20px 0px;

  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(../../images/scientists.jpg);
}

.banner h1{
  font-size: 50px;
}


.footer {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(250,250,250,0.3), rgba(250,250,250,0.3)),url(../../images/footer.jpeg)
}

.footer h1{
  font-size: 20px;
  font-weight: lighter;
  padding: 30px;
  color: rgba(250,250,250,0.1);
}

.footer h2{
  font-size: 45px;
  font-weight: lighter;
  opacity: 0.1;
  padding: 30px;
}

